.loginBox {
	background-color: grey;
	width: 20%;
}


/* Blog */

#posts {
	width: 80%;
}

.post {
	background-color: grey;
}

.comments {
	width: 50%;	
}
	
.comment {
	background-color: darkgrey;
}